*{
    margin: 0px;
    padding: 0px;
}


/* For header style */
header {
    margin: 6px 3px 6px 6px;
    height: 100px;
    background: rgb(51, 16, 248);
}

/* For  all ul in header */
header ul{
    width: 18%;
    float: right;
    font-size: 25px;
    line-height: 85px;
    text-align: center;
    list-style-type: none;
}

/* For  all links in ul */
ul a{
    display: block;
    text-decoration: none;
    color: white;
}

/* hover For all links in ul */
ul a:hover{
    background: white;
    color: black;
    margin: 5px;
}

/* For description span in top right page */
span p{
    float: right;
    transform: translate(-70px,45px);
    font-size: 20px;
}

/* For span in header its profile image and its description */
#headerSpan{
    margin-top: 10px;
    float: right;
    background-color: white;
    width: 420px;
    height: 100px;
    transform: translate(0px, -10px);
    animation: colors 6s 0s 2 alternate;
}

/* For profile in top right image */
span img{
    float: right;
    width: 60px;
    border-radius: 50%;
    transform: translate(-5px , 8px);
}

/* For logo image in left page */
#logo{
    width: 150px;
    height: 150px;
    margin: 130px 195px;
    border-radius: 50%;
    border: 2px black solid;
}

/* For discription logo image in left page */
#logoP{
    margin: -110px 95px;
    font-size: 33px;
    text-align: center;
    border-bottom: 2px black solid;
}

/* For big outer main in center page */
#main1{
    clear: both;
    width: calc((100% / 2) + 155px);
    height: 450px;
    background: rgb(51, 16, 248);
    float: right;
    margin: -7px 3px;
}

/* For inner main in center page */
#main2{
    width: 480px;
    height: 210px;
    background: white;
    transform: translate(50%, 50%);
    animation: colors 6s 0s 2 alternate;
}

/* For discription image in inner main  */
main h3{
    margin: 50px 60px;
    text-align: center;
    border-bottom: 3px black solid;
    padding: 5px;
}

/* For image in inner main */
.main-img{
    width: 230px;
    height: 80px;
    margin: 0px 120px;
}

/* For aside style */
aside{
    width: calc((100% / 2) - 163px);
    height: auto;
    margin-top: 2px;
    transform: translate(3px,-3px);
    animation: colors 6s 0s 2 alternate;
}

/* For main its of images */
#images{
    clear: both;
    width: auto;
    margin: 1px 4px 10px 4px;
    animation: colors 6s 0s 2 alternate;
}

/* For all images in buttom page its of courses */
#img{
    width: 15%;
    margin-top: 2%;
    margin-left: 1%;
    height: 175px;
}

/* For hover its of all images in buttom page its of courses */
a img:hover{
    opacity: 0.6;
}

/* For animation style */
@keyframes colors{
    10%{
        background: rgba(105, 240, 199);
    }
    50%{
        background: #f1d221;
    }
    80%{
        background: rgb(240, 97, 192);
    }
    90%{
        background: white;
    }
}

/* Responsive codes  */

@media(max-width: 450px){
    #main2 {
        transform: translate(5%, 25%);
        width: 258px;
    }
    .main-img {
        width: 230px;
        height: 80px;
        margin: 0px 10px;    
    }
    main h3 {
        margin: 50px 0px;
    }
    #img {
        width: 97%;
    }
    span p {
        transform: translate(-40px,45px);
        font-size: 15px;
    }
}
@media(max-width: 640px) and (min-width: 451px){
    #main2 {
        width: 400px;
        position: absolute;
        right: 22%;
    }
    .main-img{ 
        margin: -30px 85px;
    }
}

@media(max-width: 767px) and (min-width: 451px){
    #main2 {
        transform: translate(22%, 50%);
    }
    #img{
        width: 48%;
    }
}

@media(max-width: 767px){

    #headerSpan {
        width: 96%;
        margin: 4% 5px 2px;
        padding: 0px 6px;
    }
    header {
        clear: both;
        width: 95%;
        margin: 1px 1%;
        padding: 0px 5px;
    }
    header ul {
        width: calc(100% / 3);
    }
    #main1{
        width: 99%;
        margin: 0px;
    }
    aside{
        clear: both;
        width: 98%;
        margin: 4px;
        padding-top: 20px;
        text-align: center;
    }
    #logo {
        margin: 0px;
    }
    #logoP {
        margin: 0px;
    }
}

@media(min-width: 768px) and (max-width: 991px){
    #headerSpan{
        width: 295px;
    }
    span p {
        transform: translate(-23px,38px);
    }
    #main1{
        width: calc((100% / 2) + 100px);
    }
    #main2{
        width: 349px;
        transform: translate(21%, 35%);   
    }
    .main-img{
        margin: 0px 60px
    }
    aside {
        width: calc((100% / 2) - 110px);
    }
    #logo {
        margin: 130px 70px;
    }
    #logoP {
        margin: -115px 0px;
    }
    #img {
        width: 31%;
    }
}

@media(min-width: 992px) and (max-width: 1199px){
    #main2 {
        transform: translate(22%, 50%);
    }
    #logo {
        margin: 115px 100px;
    }
    #logoP {
        margin: -80px 7px;
    }
}
